<div ng-show="main" class="jumbotron">
  <h1 class="display-3">Welcome, Administrator!</h1>
  <p class="lead">There are <kbd>{{outOfStock.length}}</kbd> product items out of stock!</p>
  <hr class="m-y-2">
  <p>What do you want to do?</p>
  <p class="lead">
    <a ng-click="viewOutOfStock()" class="btn btn-primary btn-lg" ui-sref-active='active' ui-sref="admin-products" role="button">View Out of Stock Products</a>
    <a ng-click="viewAll()"  ui-sref-active='active' ui-sref="admin-products" class="btn btn-primary btn-lg" role="button">View All Products</a>
  </p>
</div>

<div ng-show="!main" class="col-xs-12 col-sm-6 col-md-6">

  <div class="btn-group" role="group" aria-label="...">
    <h4>Order By</h4>
    <button type="button" class="btn btn-default" ng-click="filterByName()">Name</button>
    <button type="button" class="btn btn-default" ng-click="filterByStatus()">Status</button>
    <button type="button" class="btn btn-default" ng-click="filterByQuantity()">Number of Stock</button>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="btn-group" role="group" aria-label="...">
      <h4>View</h4>
      <button type="button" class="btn btn-default" ng-click="viewAll()">All Products</button>
      <button type="button" class="btn btn-default" ng-click="viewOutOfStock()">Out of Stock Products</button>
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product-ID#:</th>
        <th>Product Name</th>
        <th>Products</th>
        <th>Product Status</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <a class="thumbnail"><img ng-src="{{product.photoUrl}}"></a>
          </div>
         </td>
        <td>{{product.status}}</td>
        <td>{{product.stock}}</td>
        <td>
          <button ng-click="ship(order.id); shipUpdate(order)" type="button" class="btn btn-success">Update Stock</button>
        </td>
       <td ng-show="product.status ==='out of stock'">
          <button ng-click="cancel(order.id); cancelUpdate(order)" type="button" class="btn btn-danger">Discontinue</button>
        </td>
        <td ng-show="product.status ==='discontinued'">
          <button ng-click="cancel(order.id); cancelUpdate(order)" type="button" class="btn btn-info">Resupply</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
