
<div ng-show="main" class="jumbotron">
  <h1 class="display-3">Welcome, Administrator!</h1>
  <p class="lead">There are <kbd>{{ordersToBeShipped.length}}</kbd> orders left to ship!</p>
  <hr class="m-y-2">
  <p>What do you want to do?</p>
  <p class="lead">
    <a ng-click="shipAll(); viewOrdered(); bulkUpdate()" class="btn btn-warning btn-lg" role="button">Batch Ship Orders</a>
    <a ng-click="viewOrdered()" class="btn btn-primary btn-lg" ui-sref-active='active' ui-sref="admin-orders" role="button">View Orders Ready to be Shipped</a>
    <a ng-click="viewAll()"  ui-sref-active='active' ui-sref="admin-orders" class="btn btn-primary btn-lg" role="button">View All Orders</a>
  </p>
</div>

<div ng-show="!main" class="col-xs-12 col-sm-12 col-md-12">
  
  <div class="col-xs-12 col-sm-5 col-md-5">
    <div class="btn-group" role="group" aria-label="...">
      <h4>Order By</h4>
      <button type="button" class="btn btn-default" ng-click="orderNumberFilter()">Order</button>
      <button type="button" class="btn btn-default">Date</button>
      <button type="button" class="btn btn-default" ng-click="filterStatus()">Status</button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    <div class="btn-group" role="group" aria-label="...">
      <h4>View</h4>
      <button type="button" class="btn btn-default" ng-click="viewAll()">All Orders</button>
      <button type="button" class="btn btn-default" ng-click="viewOrdered()">Orders Ready for Shipping</button>
    </div>
    
  </div>
  <div ng-show="ordersToBeShipped.length" class="col-xs-12 col-sm-2 col-md-2">
    <button type="button" class="btn btn-info" onClick="window.location.reload()">Update Orders Page</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Order #</th>
        <th>User Email</th>
        <th>Updated</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders">
        <th scope="row">{{order.id}}</th>
        <td>{{order.user.email}}</td>
        <td>{{order.createdAt | date : 'medium'}}</td>
        <td>{{order.status}}</td>
        <td ng-show="order.status==='ordered'">
          <button ng-click="ship(order.id); shipUpdate(order)" type="button" class="btn btn-success">Ship Order</button>
        </td>
        <td ng-show="order.status==='ordered'">
          <button ng-click="cancel(order.id); cancelUpdate(order)" type="button" class="btn btn-danger">Cancel Order</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
