.home {
    height: auto; 
    min-width: 100%; 
    max-width: 300px; 
    max-height: 400px;
}

#featured {
	text-align: center;
	display: inline-block;
    margin-left: auto;
    margin-right: auto; 
}
	