.home {
    min-width: 100%; 
}

#featured {
	text-align: center;
	.thumbnail {
		border-radius: 100%;
		border-style: none;
		border-color: green;
		overflow: hidden;
		img {
			position: center;
			height: 250px;

			
		}
		div {
			text-align: center;
		}
	}

	.row {
		text-align: center;
	}
}
