navbar {

  
  height: 80px;

  .btn-drop {
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background: none;
    border: none;
  }

  .btn-drop:hover {
    background: none;
    color: #f31214;
  }

  .btn-success {
    background-color: white;
    border: none;
    border-radius: 4px;
  }

  .btn-primary {
    background-color: white;
    border: none;
    color: black;
    border-radius: 4px;
  }

  .btn-success:hover, .btn-success:active, .btn-success:focus  {
    background-color: red;
  }
  

  display: block;
  background: black;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding: 0px;
  }

  fullstack-logo {
    img {
      float: left;
      margin: 5px 20px 0px 10px;
      width: 100px;
    }

  }

  a {
    color: white;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    padding: 12px 20px 8px 20px;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    span {
      color: black;
      font-size: 16px;
      margin: none;
    }
    padding: 25px 10px 10px 0px;
    a {
      cursor: pointer;
    }
  }

}