<div class="container">
	<div ng-show="cart.products.length">
		<table class="cart table">
			<th>Item</th><th></th><th>Quantity</th><th>Price</th><th>
			<tr ng-repeat="product in cart.products">
				<td><img ui-sref="product({id: product.id})" ng-src="{{product.photoUrl}}"></td>
				<td>{{product.name}}</td>
				<td><button ng-click="removeOneFromCart(product.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
				{{product.productOrder.quantity}}
				<button ng-click="addOneToCart(product.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-triangle-top"></span></button>
				</td>
				<td>{{product.price}}</td>
				<td><button ng-click="removeAllFromCart(product.id,product.productOrder.quantity)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td>
			</tr>
			<tr>
				<td></td><td></td>
				<td><strong>Subtotal:</strong></td>
				<td><strong>{{ cart.subtotal }}</strong></td>
			</tr>
		</table>
	</div>

	<div ng-show="!cart.products.length">
		<h3>Your cart is empty! <a ui-sref="browse">Continue Shopping</a></h3>
	</div>

</div>

