<div class="container" ng-repeat="order in orderView">
	<div ng-show="order.products.length">
		<h3>Your cart:</h3>
		<table class="cart table">
			<th>Item</th><th></th><th>Quantity</th><th>Price</th>
			<tr ng-repeat="product in order.products">
				<td><img ui-sref="product({id: product.id})" ng-src="{{product.photoUrl}}"></td>
				<td>{{product.name}}</td>
				<td>{{product.productOrder.quantity}}</td>
				<td>{{product.price}}</td>
			</tr>
			<tr>
				<td></td><td></td>
				<td><strong>Subtotal:</strong></td>
				<td><strong>{{subtotal}}</strong></td>
			</tr>
		</table>
	</div>

</div>

<div ng-show="!orderView.length">
	<h3>Your cart is empty! <a ui-sref="browse">Continue Shopping</a></h3>
</div>
