<div class="col-xs-12 col-sm-4 col-md-4">
  <div class="billing-info">
    <h2>Billing Information</h2>
    <pre>{{user | json}}</pre>
    <pre>{{address | json}}</pre>
    <address address-view="user"></address>
    <form name="addressForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" required ng-model="user.email" class="form-control" id="email" placeholder="e.g. kewlstardontw8@hotmail.com" value="{{user.email}}">
        <label for="exampleInputEmail1">Credit Card Number</label>
        <input type="password" required class="form-control" id="exampleInputEmail1" placeholder="XXXX-XXXX-XXXX-XXXX">
        <label for="exampleInputPassword1">Expiration Date</label>
        <input type="text" id="exampleInputPassword1" required placeholder="e.g. 10/18">
        <label for="exampleInputPassword1">Security Code</label>
        <input type="password" required ng-maxlength="3" id="exampleInputPassword1" placeholder="3 digit XXX">
      </div>
    </form>
  </div>

  <button type="submit" class="btn btn-default" ng-click="toggleShipping()">Different Shipping Address?</button>

  <div ng-show="showShipping">
    <h2>Shipping Address</h2>
    <address address-view="cart"></address>
  </div>

 <button type="submit" ng-disabled="addressForm.$invalid" class="btn btn-default" ng-click="submitOrder(user.id, cart.id, address)">Confirm Order</button>
</div>

<div class="col-xs-12 col-sm-4 col-md-4">
</div>

<div class="col-xs-12 col-sm-3 col-md-3">
  <h2>Your order:</h2>
  <table class="cart table checkout">
      <th>Item</th><th></th><th>Quantity</th><th>Price</th><th>
      <tr ng-repeat="product in cart.products">
        <td><img ui-sref="product({id: product.id})" ng-src="{{product.photoUrl}}"></td>
        <td>{{product.name}}</td>
        <td>
        {{product.productOrder.quantity}}
        </td>
        <td>{{(product.price*product.productOrder.quantity).toFixed(2)}}</td>
      </tr>
      <tr>
        <td></td><td></td>
        <td><strong>Subtotal:</strong></td>
        <td><strong>{{ cart.subtotal }}</strong></td>
      </tr>
    </table>
</div>
