<div class="main">
  <div class="col-lg-4">
    <div class="input-group searchbar">
      <input type="text" class="form-control" placeholder="Search for..." ng-model='searchFor'>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-12">
    <div id="browse-products">
    <div class="row">
      <h2>Women's Apparel</h2>
      <div ng-repeat="product in products | filter: searchFor" class="col-xs-12 col-sm-6 col-md-4">
        <!-- <div class="content-container">
        {{hello}}
        <img ng-src="{{product.photoUrl}}">
      </div> -->
        <div class="thumbnail">
          <img ui-sref-active="active" ui-sref="product({id: product.id})" ng-src="{{product.photoUrl}}">
          <div class="caption">
            <h4>{{product.name.split('-')[0]}}</h4>
            <p>{{product.description | limitTo:50}}<span ng-if="product.description.length>50">...</span></p>
            <h5>Item {{product.status}}! <span class="glyphicon glyphicon-tag"></span></h5>
            <p><a ui-sref-active="active" ui-sref="product({id: product.id})" class="btn btn-primary" role="button">View Product</a> <a ng-click="addOneToCart(product)" class="btn btn-default" role="button">Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
