#browse-products {
	.thumbnail {
		img {
			position: center;
			height: 250px;
			
		}
		div {
			text-align: center;
		}
	}

	.row {
		text-align: center;
	}

	.btn-primary {
		background-color: #4d6600;
		border: none;
	}

}

.searchbar {
	padding-top: 20px;	
	}