#browse-products {
	.thumbnail {
		img {
			position: center;
			height: 250px;
			
		}
		div {
			text-align: center;
		}
	}

	.row {
		text-align: center;
	}

}

.searchbar {
	padding-top: 20px;	
	}