#single-product {
	
	padding-top: 30px;

	.content-container {
		width: 100%;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.details {
		padding-right: 10%;
		}

	.btn:focus {
		outline: none;
	}

	.btn-cart {
		background-color: #4d6600;
		border: none;
	}

	.btn-review {
		background-color: #cc9900;;
		border: none;
	}
}
